@{
    ViewBag.Title = "图书网站";
    Layout = "~/_LayoutPage.cshtml";
}
@section style{
    <link href="~/Content/app/Userstyle.css" rel="stylesheet" />
}


<div class="container-fluid">
    <div class="ceng">
        <span>欢迎来到我的网站</span>
    </div>
</div>
